@import url("https://fonts.googleapis.com/css2?family=Press Start 2P");

.Card{
  border-radius: 10px;
  background-color: white;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin: auto 0;
}

.Card a {
  border-radius: 100px;
  background-color: blue;
  padding: 10px 50px;
  text-decoration: none;
  color: white;
  font-family: 'Press Start 2P';
  font-weight: thin;
  position: absolute;
  bottom: 20px;
  max-width: calc(20%-10px);
}

.Card h4 {
  font-family: 'Press Start 2P';
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
}

.Card img {
  position: absolute;
  top: 65px;
  max-width: 95%; 
  max-height: 75%;
}

.Card:hover {
  transform: scale(1.1);
}