.marquee {
  --gap: 2.75rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  backdrop-filter: blur(10px);
  padding: 25px 0;
  width: 100%;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: calc(20% - 10px);
  gap: var(--gap);
  animation: scroll 5s linear infinite;
  animation-play-state: running;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}


.marquee:hover > .marquee__content {
  animation-play-state: paused;
}
