@font-face {
    font-family: 'Press Start 2P';
    src: url('PS2P.eot');
    src: url('PS2P.eot?#iefix') format('embedded-opentype'),
         url('PS2P.woff2') format('woff2'),
         url('PS2P.woff') format('woff'),
         url('PS2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }